<!DOCTYPE html>
<html>
<head>
	<title>User Login</title>
    <link rel="stylesheet" href="static/css/main.css">
	<link rel="stylesheet" href="static/css/style.css">
	<script type="text/javascript" src ="static/script/datagrid.js"></script>
</head>
<body>
	<form action="/home" method="POST">
		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
        <div class="alert alert-danger" style="color: #e91010;">
            {{ message }}
       </div>
            {% endfor %}
			{% endif %}
            {% endwith %}
			<div class="icon">
                        <img src="static/avatar-sign.png" alt="">
                    </div>
			<label for="username"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="username" required>

			<label for="password"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="password" required>

			<button type="submit"><b>Login</b></button>
			<button type="button" onclick="location.href='/createuser';"><b>Create User</b></button>
		</div>
	</form>
</body>
</html>


